{% import "pagination/main_pagination.html" as page %}
<div class="col-md-12" style="margin-top:6px;">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;电影评论</h3>
        </div>
        <div class="panel-body">
            {% if current_user.is_anonymous %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>请先<a href="{{ url_for('home.login') }}" target="_blank"
                                 class="text-info">登录</a>，才可参与评论！</strong>
                </div>
            {% endif %}
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>全部评论({{ comments|length }})</li>
            </ol>
            {% if current_user.is_authenticated %}
                <form role="form" style="margin-bottom:6px;">
                    <div class="form-group">
                        <div>
                            <label for="input_content">内容</label>
                            <textarea id="input_content"></textarea>
                        </div>
                        <div class="col-xs-12" id="error_content"></div>
                    </div>
                    <a class="btn btn-success" id="btn-sub"><span class="glyphicon glyphicon-edit"></span>&nbsp;提交评论</a>
                    &nbsp;
                    <a class="btn btn-danger" id="btn-col"><span class="glyphicon glyphicon-heart"></span>&nbsp;收藏电影</a>
                </form>
            {% endif %}
            <ul class="commentList">
                {% for comment in comments %}
                    <li class="item cl">
                        <a href="user.html">
                            <i class="avatar size-L radius">
                                <img alt="50x50"
                                     src="{{ url_for('static', filename='uploads/userfaces/' + comment.user.face) }}"
                                     class="img-circle"
                                     style="border:1px solid #abcdef;width: 50px;">
                            </i>
                        </a>
                        <div class="comment-main">

                            <header class="comment-header">
                                <div class="comment-meta">
                                    <a class="comment-author" href="user.html">{{ comment.user.name }}</a>
                                    评论于
                                    <time title="2016-12-07 09:12:51"
                                          datetime="2016-12-07 09:12:51">{{ comment.addtime }}</time>
                                </div>
                            </header>
                            <div class="comment-body">
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li class="item cl">
                    <a href="user.html">
                        <i class="avatar size-L radius">
                            <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                 style="border:1px solid #abcdef;">
                        </i>
                    </a>
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta">
                                <a class="comment-author" href="user.html">xiaoli</a>
                                评论于
                                <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                    09:12:51
                                </time>
                            </div>
                        </header>
                        <div class="comment-body">
                            <p>这电影真好看！</p>
                        </div>
                    </div>
                </li>
                <li class="item cl">
                    <a href="user.html">
                        <i class="avatar size-L radius">
                            <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                 style="border:1px solid #abcdef;">
                        </i>
                    </a>
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta">
                                <a class="comment-author" href="user.html">xiaoli</a>
                                评论于
                                <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                    09:12:51
                                </time>
                            </div>
                        </header>
                        <div class="comment-body">
                            <p>这电影真好看！</p>
                        </div>
                    </div>
                </li>
                <li class="item cl">
                    <a href="user.html">
                        <i class="avatar size-L radius">
                            <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                 style="border:1px solid #abcdef;">
                        </i>
                    </a>
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta">
                                <a class="comment-author" href="user.html">xiaoli</a>
                                评论于
                                <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                    09:12:51
                                </time>
                            </div>
                        </header>
                        <div class="comment-body">
                            <p>这电影真好看！</p>
                        </div>
                    </div>
                </li>
                <li class="item cl">
                    <a href="user.html">
                        <i class="avatar size-L radius">
                            <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                 style="border:1px solid #abcdef;">
                        </i>
                    </a>
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta">
                                <a class="comment-author" href="user.html">xiaoli</a>
                                评论于
                                <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                    09:12:51
                                </time>
                            </div>
                        </header>
                        <div class="comment-body">
                            <p>这电影真好看！</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <!-- 分页 -->
                    {{ page.pagination(pagination) }}
                    <!-- 分页 -->
                </nav>
            </div>
        </div>
    </div>
</div>