{% extends "home/base.html" %}
{% import "pagination/main_pagination.html" as page %}
{% block css %}
    <style>
        a {
            color: #333;
        }

        .right a:hover {
            color: #fff;
        }

        a:hover {
            color: #fff;
            background-color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <!--热门电影-->
    <section id="hotmovie" style="margin-top:0px">
        <div class="container">
            <div class="row wow fadeInRight" data-wow-delay="0.6s">
                <div class="row">
                    <iframe class="wow fadeIn" width="100%" height="375px" frameborder=0 scrolling=no
                            src="{{ url_for('home.animation') }}"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!--热门电影-->
    <!--电影列表-->
    <section id="movielist">
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.6s">
                <div class="col-md-12 table-responsive">
                    <div class="table text-left table-bordered body" id="movietags">
                        <div class="select_goods_box ">
                            <div class="left">
                                <span>类型:</span>
                            </div>
                            <div class="right">

                                <input type="radio" id="q1" name="A1" checked/>
                                <label for="q1">
                                    <a href="{{ url_for('home.index') }}?tid=0&area={{ p['area'] }}&sort={{ p['sort'] }}">全部</a>
                                </label>
                                {% for tag in tags %}
                                    <input class="checked-1" type="radio" id="tag{{ tag.id }}" name="A1"
                                           value="{{ tag.id }}">
                                    <label class="tag-1" for="tag{{ tag.id }}" id="q{{ tag.id + 1 }}">
                                        <a href="{{ url_for('home.index') }}?tid={{ tag.id }}&area={{ p['area'] }}&sort={{ p['sort'] }}">{{ tag.name }}</a>
                                    </label>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="line"></div>
                        <div class="select_goods_box ">
                            <div class="left">
                                <span>区域:</span>
                            </div>
                            <div class="right">
                                <input type="radio" id="aq1" name="A2" checked/>
                                <label for="aq1">
                                    <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&area=&sort={{ p['sort'] }}">全部</a>
                                </label>
                                {% for i in range(areas[1]) %}
                                    <input class="area-1" type="radio" id="area{{ i }}" name="A2"
                                           value="{{ areas[0][i] }}"/>
                                    <label for="area{{ i }}">
                                        <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&area={{ areas[0][i] }}&sort={{ p['sort'] }}">{{ areas[0][i] }}</a>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="select_goods_box ">
                            <div class="left">
                                <span>排序:</span>
                            </div>
                            <div class="right">
                                <input class="sort-1" type="radio" id="s1" name="A3" value="1"/>
                                <label for="s1">
                                    <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&area={{ p['area'] }}&sort=1">按热门排序</a>
                                </label>
                                <input class="sort-1" type="radio" id="s2" name="A3" value="2"/>
                                <label for="s2">
                                    <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&area={{ p['area'] }}&sort=2">按时间排序</a>
                                </label>
                                <input class="sort-1" type="radio" id="s3" name="A3" value="3"/>
                                <label for="s3">
                                    <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&area={{ p['area'] }}&sort=3">按评价排序</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="movie">
                    {% for movie in movie_data %}
                        <div class="movie-box margin-left15">
                            <div class="img-box">
                                <a href="{{ url_for('home.play',id=movie.id) }}">
                                    <img src="{{ url_for('static', filename='uploads/'+movie.logo) }}"/>
                                    <span style="color: white; background-color: orangered;">{{ movie.score }}</span>
                                </a>
                            </div>
                            <p>{{ movie.title }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <nav aria-label="Page navigation">
                        <!-- 分页 -->
                        {{ page.pagination(pagination) }}
                        <!-- 分页 -->
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--电影列表-->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var theRequest = new Object();
            var urls = window.location.search.toString().replace("?", "").split("&");
            for (var i = 0; i < urls.length; i++) {
                console.log(urls[i].split("=")[0])
                theRequest[urls[i].split("=")[0]] = decodeURI(urls[i].split("=")[1]);
            }


            $(".checked-1").each(function () {
                {#alert(theRequest.tid, $(this).attr("id"))#}
                if (theRequest.tid == $(this).val()) {
                    var tid = $(this).attr('id')
                    $("#" + tid).attr("checked", "checked");
                }
                 else  {
                $("#q1").attr("checked", "checked");
            }
            });


            $(".area-1").each(function () {
                {#alert(theRequest.tid, $(this).attr("id"))#}
                if (theRequest.area == $(this).val()) {
                    var id = $(this).attr('id')
                    $("#" + id).attr("checked", "checked");
                }
                else  {
                    $("#aq1").attr("checked", "checked");
                }
            })


            $(".sort-1").each(function () {
                {#alert(theRequest.tid, $(this).attr("id"))#}
                if (theRequest.sort == $(this).val()) {
                    var id = $(this).attr('id')
                    $("#" + id).attr("checked", "checked");
                }
                else {
                    $("#aq1").attr("checked", "checked");
                }
            })
        })
    </script>
{% endblock %}