{% extends "home/home.html" %}
{% block css %}

    <style>
        .col-md-12, .col-xs-12 {
            padding-right: 3px;
            padding-left: 3px;
        }

        .jieshao_box {
            display: block;
            background: #121314;
            margin-top: 0px;
        }

        .player_headline {
            color: black;
        }

        .tag_item {
            position: relative;
            display: inline-block;
            margin-right: 6px;
            padding: 1px 4px 1px;
            line-height: 18px;
            border-radius: 2px;
            background-color: #3d3d46;
            color: #CCCCCC;
            text-decoration: none;
        }

        .tag_item:hover {
            color: orange;
            text-decoration: none;
        }

        .main {
            color: black;
        }

        .main p {
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block content %}
    <title>环太平洋</title>

    <!--内容-->
    <div class="container" style="margin-top:0px">
        <div class="row">
            <iframe width="100%" height="662" src="../static/player/index.html" allowfullscreen="allowfullscreen"
                    frameborder="0"></iframe>
            <div class="jieshao_box">
                <div class="player_headline player_headline_mood cf" _r-cid="14" _r-component="c-intro">
                    <h1 style="display:inline-block; color:white;">
                        环太平洋
                    </h1>
                    <span class="video_score" style="">
            <span class="units" style="font-size:32px;line-height:32px;display:inline-block;color:orange">8.</span>
            <span class="decimal" style="font-size:26px;color:orange;">1</span>
            </span>
                    <div class="video_tags _video_tags">
                        <a _stat="intro:tag" href="//v.qq.com/x/list/movie?offset=0&amp;area=100024" target="_blank"
                           class="tag_item">美国</a>
                        <a _stat="intro:tag" href="//v.qq.com/x/list/movie?offset=0&amp;year=100040" target="_blank"
                           class="tag_item">2017</a>
                        <a _stat="intro:tag"
                           href="//v.qq.com/x/search/?stag=txt.playpage.vppdesc&amp;q=%E5%96%9C%E5%89%A7%E7%94%B5%E5%BD%B1"
                           target="_blank" class="tag_item">科幻</a>
                        <a _stat="intro:tag"
                           href="//v.qq.com/x/search/?stag=txt.playpage.vppdesc&amp;q=%E5%8F%A4%E8%A3%85%E7%94%B5%E5%BD%B1"
                           target="_blank" class="tag_item">古装</a>
                    </div>
                </div>


            </div>
            <main class="main main-rect">
                <div class="content">
                    <div class="video-intro">
                        <h2 class="main-title">《环太平洋》简介</h2>
                        <p class="pre">类型：美国电影/科幻</p>
                        <p class="pre">上映时间：2017年7月12日</p>
                        <p class="pre">播放数量：1000</p>
                        <p class="pre">评论数量：1000</p>
                        <p class="intro">
                            简介：廉政公署收到报案人廖雨萍（周秀娜饰）的实名举报，举报正在坐牢的富二代曹元元（林峯饰）涉嫌行贿监狱里的监督沈济全（谭耀文饰）以及惩教员，首席调查主任陆志廉（古天乐饰）决定深入虎穴，卧底狱中。在监狱里，被陆志廉送入监狱的前警司黄文彬（林家栋饰）以及曹元元两大帮派势成水火，陆志廉趁机接近曹元元取得信任。同时监狱外的廉政公署总调查主任程德明（郑嘉颖饰）、国内反贪局行动处处长洪亮（丁海峰饰）也陆港联手，通力合作，最终成功破获贪腐行贿大案。
                        </p>
                    </div>
                </div>
            </main>
            <div class="col-md-12" style="margin-top:6px;">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;电影评论</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>请先<a href="login.html" target="_blank" class="text-info">登录</a>，才可参与评论！</strong>
                        </div>
                        <ol class="breadcrumb" style="margin-top:6px;">
                            <li>全部评论(5)</li>
                        </ol>
                        <form role="form" style="margin-bottom:6px;">
                            <div class="form-group">
                                <div>
                                    <label for="input_content">内容</label>
                                    <textarea id="input_content"></textarea>
                                </div>
                                <div class="col-xs-12" id="error_content"></div>
                            </div>
                            <a class="btn btn-success" id="btn-sub"><span class="glyphicon glyphicon-edit"></span>&nbsp;提交评论</a>
                            &nbsp;
                            <a class="btn btn-danger" id="btn-col"><span class="glyphicon glyphicon-heart"></span>&nbsp;收藏电影</a>
                        </form>
                        <ul class="commentList">
                            <li class="item cl">
                                <a href="user.html">
                                    <i class="avatar size-L radius">
                                        <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                             style="border:1px solid #abcdef;">
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">xiaoli</a>
                                            评论于
                                            <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                                09:12:51
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>这电影真好看！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl">
                                <a href="user.html">
                                    <i class="avatar size-L radius">
                                        <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                             style="border:1px solid #abcdef;">
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">xiaoli</a>
                                            评论于
                                            <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                                09:12:51
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>这电影真好看！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl">
                                <a href="user.html">
                                    <i class="avatar size-L radius">
                                        <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                             style="border:1px solid #abcdef;">
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">xiaoli</a>
                                            评论于
                                            <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                                09:12:51
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>这电影真好看！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl">
                                <a href="user.html">
                                    <i class="avatar size-L radius">
                                        <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                             style="border:1px solid #abcdef;">
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">xiaoli</a>
                                            评论于
                                            <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                                09:12:51
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>这电影真好看！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl">
                                <a href="user.html">
                                    <i class="avatar size-L radius">
                                        <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                             style="border:1px solid #abcdef;">
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="user.html">xiaoli</a>
                                            评论于
                                            <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">2017-03-01
                                                09:12:51
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>这电影真好看！</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-12 text-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="First">
                                            <span aria-hidden="true">首页</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1&nbsp;/&nbsp;10</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Last">
                                            <span aria-hidden="true">尾页</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
    <!--播放页面-->
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='jwplayer/jwplayer.js') }}"></script>
    <script type="text/javascript">
	jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";
    </script>
{% endblock %}