* {
  box-sizing: border-box;
}

body {
  /*font-family: sans-serif;*/
  background: #121314;
}

#site {
  width: 100%;
  /* margin: 50px auto; */
}

#bloc {
  display: block;
  position: static;
  overflow: hidden;
}

.box {
  margin: 0px;
}

#videoBox {
  border: 0px solid #212223;
  transition: 0.5s;
}


video {
  width: 100%;
  vertical-align: bottom;
}

#videoBox.in {
  animation: ac 1s;
}

#videoBox.out {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  animation: an 0.5s;
}
