body {
	width: 100%;
	background-color: #f8f8f8;
	font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.table {
	width: 100%;
	height: 165px;
	border: 1px solid #ddd;
}

.select_goods_box {
	width: 100%;
	height: 53px;
}

.left {
	width: 5%;
	height: 53px;
	float: left;
}

.right {
	width: 95%;
	height: 53px;
	float: left;
}

.left span {
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 50%;
	box-sizing: border-box;
	margin-top: 5px;
	vertical-align: middle;
}

.right input {
	display: none;
	transition: all 0.1s;
}

.right label {
	padding: 0px 6px;
	height: 17px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	line-height: 17px;
	margin: 0px 20px;
	color: #333;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
	vertical-align: middle;
	margin-top: 6px;
}

.right input:checked+label {
	color: #fff;
	background-color: red;
}

.right input:hover+label {
	color: #fff;
	background-color: red;
}
.line{
	width: 96%;
	margin-left: 2%;
	border-bottom: 1px solid #eee;
}

/* 电影分类导航样式 */
.sort-radio{
	width: 100%;
	height: 30px;
	float: left;
}

.sort-radio input {
	display: none;
	transition: all 0.1s;
}

.sort-radio label {
	padding: 0px 6px;
	height: 17px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	line-height: 17px;
	margin: 0px 15px;
	color: #333;
	font-size: 12px;
	font-weight: 200;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
	vertical-align: middle;
	margin-top: 6px;
	float:left ;
}

.circle{
	display: inline-block;
	position: relative;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border:1px solid #ccc;
	background-color: white;
	box-sizing: border-box;
}
.circle-center{
	position: absolute;
	top: 2px;
	left: 2px;
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius:5px;
}
.sort-radio input:checked+label .circle {
	border:1px solid red;
	background-color: red;
}

/* 电影列表样式 */
.movie{
	width: 100%;
	float: left;
	margin-top: 9px;
}
.movie-box{
	width: 160px;
	height: 284px;
	float: left;
	margin-right: 35px;
	/* background-color: red; */
	
}
.img-box{
	width: 160px;
	height: 220px;
	/* background: no-repeat url(../img/2.png); */
	/* background-size: cover; */
	position: relative;
}
.img-box img{
	display: inline-block;
	width: 160px;
	height: 220px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.max3d{
	position: absolute;
	z-index: 10;
	top: 5px;
	left: -3px;
	display: inline-block;
	width: 69px;
	height: 25px;
	background: no-repeat url(../img/3dmax.png);
	background-size: cover;
}
.max2d{
	position: absolute;
	z-index: 10;
	top: 5px;
	left: -3px;
	display: inline-block;
	width: 69px;
	height: 25px;
	background: no-repeat url(../img/2dmax.png);
	background-size: cover;
}
.img-box span{
	position: absolute;
	z-index: 10;
	right: 5px;
	bottom: 5px;
	padding: 0 3px;
	height: 18px;
	line-height: 18px;
	border-radius: 1px;
	background-color: red;
}
.img-box span a{
	color: #fff;
	font-size: 12px;
	vertical-align: top;
}
.movie-box p{
	width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
	display: block;
	margin-bottom: 0px;
}
.grade i:nth-child(1){
	    color: #ffb400;
		font-size: 18px;
		font-style: italic;
}
.grade i:nth-child(2){
	    color: #ffb400;
		font-size: 14px;
		font-style: italic;
}
.margin-right0{
	margin-right: 0px;
}  
.margin-left15{
	margin-left: 15px;
}  