/* ----------------------设置label复选框样式 ------------------*/
body{
/* width: 100%; */
/* height: 1980px; */
background-color: #f8f8f8;
font-family: PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;}

.select_goods_box{
width: 100%;
height: 34px;}
.select_goods_box span{
font-size: 12px;}

input{
display: none;}
label{
/*width: 120px;*/
margin-right: 60px;
height: 34px;
color: #333;
font-size: 12px;
line-height: 46px;
/*font-weight: bolder;*/
display: inline-block;
cursor: pointer;}
input:checked+label{
color: #00b4ff;
}
input:hover+label{
color: #00b4ff;}
.select_sort{
width: 1240px;
height: 60px;
font-size: 12px;
margin: 0px auto;}